# ---------------------
# Python
# ---------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.log

# Virtual environments
env/
venv/
ENV/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# ---------------------
# IDE / Editor
# ---------------------
# PyCharm
.idea/

# VSCode
.vscode/

# ---------------------
# OS Specific
# ---------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ---------------------
# Environment variables
# ---------------------
.env
.env.*
